doctype html
html(lang="en")
  head
    //- create a style tag to pull in the css file when the HTML is rendered
    title Whoops!
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Fredoka+One', rel='stylesheet')
    //-
  body
    br
    br
    br
    h1 Oh dear, something has gone wrong.